article:hover{
    background-color: #f5f5f5;
    border-left: solid 3px #17abb3;
    h4, small{
        margin-left: 10px;
    }
}
header > a img:hover{
    cursor: zoom-in;
}
footer img:hover{
    opacity: 80%;
}